body{	font-family: Century;
	margin: 0 auto;
    	padding: 0 auto;
    	text-align: center;
    	height: 1700px;
}

#wrapper{
	position: relative;
}

.banner{
	clear: both;
	color: #0088cc;
	height:200px;
    	background: #FFFFFF;
    	padding-top: 5px;
    	border: 1px red solid;
    	margin-top: 10px;
    	position: relative;
    	
}

.affix {
	top:0;
	width: 100%;
	z-index: 9999 !important;
	}
	
.navbar {
	margin-bottom: 0px;
	color: #FF8C00;
	}
.affix ~ .container-fluid {
	position: relative;
	top: 50px;
	}

.clean {
	clear: both;	
}

ul {
	margin:5px;
	padding: 10px;
	position: absolute;
	color: #FF8C00;
}
	
ul li {
	float: left;
	position: block;
	width: 120px;
	color: #FF8C00;
}



