body{	font-family: Century;
	margin: 0 auto;
    	padding: 0 auto;
    	text-align: center;}

#wrapper{
	position: relative;
}
.banner{
	clear: both;
    	height:200px;
    	background: #696969;
    	margin-top: 60px;
    	padding-top: 60px;
}

#top-menu{
	width: 100%;
	background-color: rgba(1, 1, 1, 0.8);
	position: fixed relative;
	text-align: center;
	margin: 0px 0px 60px 0px;
	float: left;
}

.projectName{
    float: left;
    margin-left:15px;
}

.menu-items{
	display: inline-block;
	color: #0088cc;
    	text-align: center;
}

.crean {
	clear: both;	
}

ul {
	margin:5px;
	padding: 10px;
	position: absolute;
}
	
ul li {
	float: left;
	position: block;
	width: 120px;
}



