body{	font-family: Century;
	margin: 0 auto;
    	padding: 0 auto;
    	text-align: center;
}

#wrapper{
	position: relative;
}

.banner{
	clear: both;
	color: #0088cc;
	height:200px;
    	background: #FFFFFF;
    	padding-top: 5px;
    	border: 1px black;
    	margin-top: 60px;
    	position: absolute;
}

#top-menu{
	width: 100%;
	background-color: rgba(1, 1, 1, 0.8);
	position: fixed;
	margin: 0 auto;
	box-shadow: 0px 10px 10px #888888;
	color: #FF8C00;
}

.projectName{
    float: left;
    margin: 0px 50px 0px 30px;
    color: #FF8C00;
}

.menu-items{
	display: inline-block;
	color: #FF8C00;
    	text-align: center;
    	margin: 0px 0px 0px 30px;
}

.crean {
	clear: both;	
}

ul {
	margin:5px;
	padding: 10px;
	position: absolute;
	color: #FF8C00;
}
	
ul li {
	float: left;
	position: block;
	width: 120px;
	color: #FF8C00;
}



