body{
	font-family: Century;
	margin: 0 auto;
    	padding: 0 auto;
    	text-align: center;
}

#top-menu{
	width: 100%;
	background-color: rgba(1, 1, 1, 0.8);
	position: fixed;
}

.projectName{
    float: left;
    margin-left:15px;
}

.menu-items{
	display: inline-block;
	color: #0088cc;
    	clear: both;
    	text-align: center;
}

.banner{
    height:200px;
    background: #696969;
    
}

ul {
	margin:5px;
	padding: 10px;
	position: absolute;
}
	
ul li {
	float: left;
	position: block;
	width: 120px;
}



