body{
	font-family: Century;
	margin: 0 auto;
    	padding: 0 auto;
    	text-align: center;
}

.custom-navbar-fixed-top a:hover {
	color: grey;
} 

.projectName{
    float: left;
    margin-left:15px;
}

.banner{
    height:200px;
    width: 100%;
    color: #0088cc;
    text-align: center;
}

.top-menu{
	color:#0088cc;
    	font-size: 2rem;
    	
}

@font-face { 
    font-family: Century;
    src: url('GOTHIC.ttf');
    } 

a {
	color:white;
}


ul {
	margin:5px;
	padding: 10px;
	position: absolute;
}
	
ul li {
	float: left;
	position: block;
	width: 120px;
}



