body{	font-family: Century;
	margin: 0 auto;
    	padding: 0 auto;
    	text-align: center;
    	height: 1700px;
}

#wrapper{
	position: relative;
}

.banner{
	clear: both;
	color: #0088cc;
	height:200px;
    	background: #FFFFFF;
    	padding-top: 5px;
    	border: 1px red solid;
    	margin-top: 10px;
    	position: relative;
    	
}

.clean {
	clear: both;	
}



