body{
	font-family: Century;
	margin: 0 auto;
    	padding: 0 auto;
    	 text-align: center;
}

.custom-navbar-fixed-top{
    position: fixed;
    width: 100%;
    color: #ffffff;
    height: 36px;
    text-align: center;
    padding-top: 15px;
    -webkit-box-shadow: 0px 0px 8px 0px #000000;
    -moz-box-shadow: 0px 0px 8px 0px #000000;
    box-shadow: 0px 0px 8px 0px #000000;
    /* Adds the transparent background */
    background-color: rgba(1, 1, 1, 0.8);
    color: rgba(1, 1, 1, 0.8);
}

.custom-navbar-fixed-top a {
	font-size: 14px;
	padding-left: 15px;
	padding-right: 15px;
	color: white;
	text-decoration: none;
}

.custom-navbar-fixed-top a:hover {
	color: grey;
} 

.projectName{
    float: left;
    margin-left:15px;
}

.banner{
    height:200px;
    width: 100%;
    color: #0088cc;
    text-align: center;
}

.top-menu{
	color:#FFF;
    	font-size: 2rem;
    	
}

@font-face { 
    font-family: Century;
    src: url('GOTHIC.ttf');
    } 

#main{
	background:#1A1A1A;
	width: 100%;
	height: 30px;
	color: rgba(1, 1, 1, 0.8);
}	

a {
	color:white;
}


ul {
	margin:5px;
	padding: 10px;
	position: absolute;
}
	
ul li {
	float: left;
	position: block;
	width: 120px;
}



