body{
	width: 100%;
	height: 1200px;
	background: #F1F1F1;
	}

nav {
	background:#1A1A1A;
	width: 100%;
	height: 50px;
	position: fixed;
}

a {
	color:inherit;
}



header.top {
		background: #303030;
		width: 100%;
		height: 420px;
		margin: 0;
		padding: 0;
		
	}


	
ul {
	position: absolute;
	margin:5px;
	padding: 10px;
	position: absolute;
	text-decoration: none;
	
}
	
ul li {
	float: left;
	position: block;
	text-decoration: none;
	width: 120px;
	color: #FFFFFF;
	text-decoration: none;
}
