body{
	width: 100%;
	height: 1200px;
	font-family: Century;
	
}

.top-menu{
	color:#FFF;
    	font-size: 2rem;
    	margin: 0;
    	padding: 0;
}

#main{
	background:#1A1A1A;
	width: 100%;
	height: 30px;
}	

a {
	color:white;
}



.top {
		background: #303030;
		margin-top: 55px;
		width: 100%;
		height: 420px;
		padding: 0;
		position: block;
	}

ul {
	margin:5px;
	padding: 10px;
	position: absolute;
}
	
ul li {
	float: left;
	position: block;
	width: 120px;
}
